<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taobao.tao"
    android:versionCode="89"
    android:versionName="5.2.1" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <application>
        <meta-data android:name="patch_version" android:value="*" />
        <meta-data android:name="patch_entry" android:value="com.taobao.hotpatch.SsoIdentityPatch,com.taobao.hotpatch.HomeImagePatch" />
    </application>

</manifest>
