<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taobao.service.hotpatch"
    android:versionCode="9"
    android:versionName="4.3.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher" >
        <meta-data android:name="patch_version" android:value="4.3.0" />
        <meta-data android:name="patch_entry" android:value="com.taobao.hotpatch.HotPatchTBLocationContentProvider;com.taobao.hotpatch.HotPatchFeedStreamViewControler;com.taobao.hotpatch.HotPatchFeedStreamActivity" />
    </application>

</manifest>
